:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(214, 85%, 43%),
    hsl(199, 98%, 22%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColor: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  .overlay {
    position: absolute;
    background: rgb(78, 77, 77);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    mix-blend-mode: hard-light;
  }

  img {
    position: absolute;
    height: 100%;
    width: 200%;
    top: 0;
    bottom: 0;
    object-fit: cover;
  }

  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--whiteColor);
    z-index: 3;

    .textDiv {
      padding: 5rem 5rem;

      .smallText {
        font-size: 13px;
        text-transform: uppercase;
      }

      .homeTitle {
        position: relative;
        font-size: 1.8rem;
      }
    }

    .cardDiv {
      display: flex;
      position: relative;
      padding: 0.5rem;
      background: rgb(211, 207, 207);
      border-radius: 0.5rem;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding: 0 1.5rem;

      label {
        display: block;
        color: var(--textColor);
        padding-bottom: 10px;
        font-size: 1.1rem;
        font-weight: 500;
      }

      .label_total {
        justify-content: space-between;
        align-items: center;

        .total {
          color: var(--textColor);
          font-size: 18px;
          padding-bottom: 10px;
        }
      }

      .input {
        height: 40px;
        padding: 0 1rem;
        background: white;
        border-radius: 3rem;

        input {
          background: none;
          border: none;
          outline: none;
          width: 100%;
          font-size: 13px;
          font-weight: 500;
          &::placeholder {
            font-size: 13px;
          }
        }

        .icon {
          font-size: 18px;
          color: var(--PrimaryColor) !important;
          margin-left: 10px;
        }
      }

      .searchFilters {
        padding: 1rem;
        cursor: pointer;
        border-radius: 0.3rem;
        border: none;
        font-size: 1.1rem;
        text-transform: uppercase;
        background: var(--gradientColor);

        &:hover {
          background: var(--PrimaryColor);
        }

        .icon {
          font-size: 18px;
        }

        span {
          font-size: 13px;
        }
      }
    }

    .homeFooterIcons {
      width: 100%;
      justify-content: space-between;

      .icon {
        font-size: 20px;
        margin: 0 5px;
        color: var(--whiteColor);
        font-weight: 600;
        &:hover {
          color: var(--PrimaryColor);
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .home {
    .content {
      .textDiv {
        .smallText {
          font-size: 16px;
        }

        .homeTitle {
          position: relative;
          font-size: 2.3rem;
          width: max-content;

          &::after {
            position: absolute;
            content: "";
            background: var(--SecondaryColor);
            height: 5px;
            width: 145px;
            right: 0px;
            bottom: 5px;
            z-index: -1;
          }
        }
      }

      .cardDiv {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .home {
    .content {
      .cardDiv {
        padding: 2rem 1rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: 940px) {
  .home {
    height: 80vh;
  }
}

@media screen and (min-width: 1240px) {
  .home {
    height: 90vh;

    .content {
      padding-left: 0;
      padding-right: 0;

      .cardDiv {
        padding: 2rem 1rem;
        grid-template-columns: repeat(3, 1fr);
        .input {
          margin-bottom: 1rem;
        }

        .searchOptions {
          bottom: -1rem;
          padding: 8px 1rem;

          span {
            font-size: 17px;
          }
        }
      }
    }
  }
}
