:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(
    to right,
    hsl(187, 85%, 43%),
    hsl(199, 100%, 33%)
  );
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDream: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #96c6be;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(44, 30, 30, 0.651);
}
.header .resize {
  height: 120px;
  width: 120px;
}
.header .logo {
  color: var(--blackColor);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .header .navbar {
    position: absolute;
    background: var(--whiteColorDream);
    height: 500%;
    width: 50%;
    top: 0;
    right: -200%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px black;
    transition: 2s ease-in-out;
  }
  .header .navbar .navLists {
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navbar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navbar .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navbar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navbar .navLists .navWelcome {
    display: flex;
    color: var(--SecondaryColor);
  }
  .header .navbar .navLists .btn {
    margin-top: 1rem;
  }
  .header .navbar .navLists .btn a {
    font-weight: 600;
    color: var(--whiteColor);
  }
  .header .navbar .closeNavbar {
    position: absolute;
    top: 3.5rem;
    right: 1.2rem;
    color: var(--PrimaryColor);
  }
  .header .navbar .closeNavbar:hover {
    color: var(--SecondaryColor);
  }
  .header .activeNavbar {
    left: 75%;
  }
}
.header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
}
.header .toggleNavbar:hover.icon {
  color: var(--SecondaryColor);
}

@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .navbar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navbar .navLists .navItem .navLink {
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .header .navbar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navbar .navLists .navWelcome {
    padding-left: 4rem;
    display: flex;
    color: var(--SecondaryColor);
  }
  .header .navbar .navLists .btn {
    margin-left: 1rem;
  }
  .header .navbar .navLists .btn a {
    color: var(--whiteColor);
    font-weight: 500;
  }
}
@media screen and (min-width: 960px) {
  .header .navbar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 8.5rem;
  }
}/*# sourceMappingURL=navbar.css.map */